.blackrock {
    color:darkslategrey
}

.losttemple {
    color:rgb(218, 170, 129)
}

.theivesden {
    color:red
}

.playground {
    color:orange
}

.crossroads {
    color:lightseagreen
}

/* Table  */

table {
    border: 2px solid black;
    border-collapse: collapse;
    margin: 20px;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

/* Images */

.images {
    height: 300px;
    border: 5px solid black;
    margin: 5px;
}

.special-images {
    max-width: 1000px;
    min-height: 300px;
}

/* Phighter Renders  */
.render-sword {
    max-height: 400px;
    }
.render-katana {
    max-height: 400px;
}

.render-banhammer {
    max-height: 400px;
}

.render-skateboard {
    max-height: 400px;
}

.render-biograft {
    max-height: 400px;
}

.render-shuriken {
    max-height: 400px;
}

.render-scythe {
    max-height: 400px;
}

.render-hyperlaser {
    max-height: 400px;
}

.render-slingshot {
    max-height: 400px;
}

.render-rocket {
    max-height: 400px;
}

.render-coil {
    max-height: 400px;
}

.render-subspace {
    max-height: 400px;
}

.render-boombox {
    max-height: 400px;
}

.render-vinestaff {
    max-height: 400px;
}

.render-medkit {
    max-height: 400px;
}

.red-horn {
    background-color: rgb(201, 47, 47);
}

.blue-horn {
    background-color: rgb(36, 36, 199);
}

.purple-horn {
    background-color: rgb(161, 35, 161);
}

.orange-horn {
    background-color: rgb(226, 147, 0);
}

.green-horn {
    background-color: rgb(21, 150, 21);
}

.pink-horn {
    background-color: rgb(190, 71, 165);
}

.teal-horn {
    background-color: rgb(22, 117, 117);
}

.cyan-horn {
    background-color: rgb(3, 209, 209);
}

/* Layout */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:rgb(207, 207, 207);
    margin-top: -6px;
    min-height: 8dvh;
    
}

.nav-link {
    font-size: 1.5rem;
    text-decoration: none;
    color:fuchsia;
    margin-top: 25px;
}

#nav-logo {
    max-height: 12dvh;
    max-width: 12dvh;
    margin-top: 10px
}

#logo-wrapper {
    max-height: 8dvh;
    overflow: hidden;
}


p {
    display: flex;
    border: 2px solid black;
    padding: 10px;
    font-size: 1.1rem;
    text-align: center;
}

h1 {
    text-align: center;
}