.blackrock {
    color:darkslategrey
}

.losttemple {
    color:sandybrown
}

.theivesden {
    color:red
}

.playground {
    color:orange
}

.crossroads {
    color:lightseagreen
}

/* Layout */

.factions {
    display: flex;
    flex-direction: column;
}