.blackrock {
    color:darkslategrey
}

.losttemple {
    color:rgb(218, 170, 129)
}

.theivesden {
    color:red
}

.playground {
    color:orange
}

.crossroads {
    color:lightseagreen
}

/* Table  */

table {
    border: 2px solid black;
    border-collapse: collapse;
    margin: 20px;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

/* Layout */

.factions {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.images {
    width: 400px
}