/* unique layout cuz its being special >:( */
.page-nav {
    grid-area: nav;
}

.page-aside {
    grid-area: aside;
}

.page {
    display: grid;
    grid-template-columns: 3,1fr;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    "aside main main"
    "footer footer footer";
}


/* Main  */

#hero {
    min-height: 80dvh;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    background-image: url(./Images/BanhammerSodaArt1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-content {
    max-width: 700px;
    padding: 2rem;
    background-color: rgba(200, 200, 200, 0.75);
    color: rgb(87, 87, 87);
}

.game-link {
    background:linear-gradient( to right, lightseagreen, white);
    padding: 1%;
    border-radius: 10px;
    margin-left: 40px;
    width: 300px;
    font-size: 1.4rem;
    margin-top: 30px;
}

.game-link2 {
    text-decoration: none;
    color: black;
}

.game-link:hover, .game-link2:focus-visible:focus-visible {
    border: 3px solid rgb(254, 177, 53);
}

/* Classes for text */
.blackrock1 {
    color:white;
    font-size: 2rem;
}

.losttemple1 {
    color:rgb(218, 170, 129);
    font-size: 2rem;
}

.theivesden1 {
    color:red;
    font-size: 2rem;
}

.playground1 {
    color:orange;
    font-size: 2rem;
}

.crossroads1 {
    color:lightseagreen;
    font-size: 2rem;
}